h1 {
  text-align: center;
}
a {
  text-decoration: none;
  color: darkblue;
  font-weight: bold;
}
h2 {
  text-align: center;
  font-size: normal;
}
img {
  width: 60%;
  margin: 20px auto;
  border-radius: 15px;
  display: block;
}
body {
  background-color: azure;
}
p {
  display: block;
  font-weight: smaller;
}
.coder-name {
  text-decoration: none;
}
